* {
    box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
}

body {
    background: moccasin;
}

table {
    margin: 0;
    padding: 0;
}

table tr td {
    cursor: pointer;
    position: relative;
    padding: 5px 8px 5px 40px;
    background: salmon;
    font-size: 15px;
    transition: 0.2s;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table tr td:nth-child(odd) {
    background: white;
}

table tr td:hover {
    background: salmon;
}

table tr td.completeTask {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

table tr td.completeTask::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 7px;
    width: 3px;
}

.header {
    background-color: salmon;
    padding: 5px 34px;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    border: none;
    width: 95%;
    padding: 10px;
    float: left;
    font-size: 14px;
}

.addBtn {
    padding: 10px;
    width: 80%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}
